GEMINI_API_KEY=
GITHUB_API_TOKEN=
HF_TOKEN=

POSTGRES_USER=postgres
POSTGRES_DB=postgres
POSTGRES_PASSWORD=postgres

APP_USER=
APP_PASSWORD=
APP_DB=
DB_PORT=
DB_HOST=

DATABASE_URL=postgresql+psycopg://${APP_USER}:${APP_PASSWORD}@${DB_HOST}:${DB_PORT}/${APP_DB}
ASYNC_DATABASE_URL=postgresql+psycopg_async://${APP_USER}:${APP_PASSWORD}@${DB_HOST}:${DB_PORT}/${APP_DB}

MIGRATION_URL=postgresql+psycopg://${POSTGRES_USER}:${POSTGRES_PASSWORD}@${DB_HOST}:${DB_PORT}/${APP_DB}

EMB_MODEL_NAME=